{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container p-2">
<div class="container bg-2">
    <form method="POST" action="">
        {% csrf_token %}
        {{form|crispy}}
        <div class="p-3 ">
            <button type="submit" class="btn bg-1 text-light">Login</button>
            <small class="text-muted ml-2">
                <a href="{% url 'password_reset' %}">Forgot Password?</a>    
            </small>
        </div>
    </form>

    <br>
    <div class="d-flex">
        <p class="p-1">Need an account?</p>
        <a class="ml-2" href="{% url 'register' %}"> Sign Up</a>
    </div>

</div>

</div>
</div>
{% endblock %}